<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./index.css">
	<script src="./index.js"></script>
</head>
<body>
	{{>header}} <!--Partial-->
	{{>navBar}}
	<h1>{{title}}</h1>
	<p>Created by {{name}}</p>
</body>
</html>

